<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header_includes.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script defer src="/scripts/page.js"></script>
  <script defer src="/scripts/app.js"></script>

  <title>Example App</title>
</head>
<body>
  <%- include('../partials/header.ejs', {page: 'app-1'}) %>
  <main>
    <div class='container main-container'>
      <h3>Example App</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit neque at nisi tincidunt semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris rutrum lectus diam, vel aliquet ipsum pharetra at. Maecenas a tortor faucibus, consequat purus nec, faucibus dui. Etiam pulvinar mauris lorem, at accumsan nulla tempor consequat. Phasellus placerat leo in faucibus mollis. Donec commodo magna non placerat posuere. Nullam auctor, neque at auctor blandit, est nunc posuere lorem, sit amet tincidunt risus ante at ligula. Nam in felis eget erat porta faucibus tincidunt quis nisi. Mauris risus nunc, tempus auctor massa eu, rutrum porta sapien. Donec ultricies dui lacus, at finibus augue aliquet sit amet. Vestibulum eget iaculis nulla. Nulla rutrum commodo enim. Ut vitae volutpat magna. In condimentum nunc sapien, eu venenatis metus vehicula vitae.

Nam in sollicitudin mauris, et sollicitudin dui. Suspendisse dictum nisl et nulla fermentum, eget hendrerit ligula placerat. Nullam sit amet congue justo. Nulla gravida leo dolor, quis laoreet erat congue nec. Proin ornare, massa et viverra vehicula, libero odio tincidunt urna, ut elementum dolor purus ut ex. Duis porta, augue sit amet venenatis posuere, metus leo pharetra velit, ut ultricies augue enim vitae orci. Sed non accumsan leo. Vestibulum ac consectetur leo.

Nam vulputate sem ac consectetur eleifend. Donec nec elit at odio dignissim luctus. Nulla bibendum lectus in augue lacinia, ut gravida mi finibus. Nullam eget purus neque. Mauris turpis quam, volutpat at ultricies nec, fringilla sed enim. Fusce nisi nibh, rhoncus et vulputate id, iaculis eu nibh. In egestas, libero at tempus consectetur, risus urna vehicula velit, vel tincidunt velit metus quis neque. Suspendisse at luctus leo, eget imperdiet purus. Nam id dui blandit, sodales quam eget, dignissim tellus. Nunc ut arcu rutrum, commodo dui eget, faucibus eros. Proin mattis vulputate diam ut iaculis. Mauris facilisis tempus tincidunt. Aliquam quis purus suscipit, luctus odio eget, facilisis massa. Cras lacinia, quam eu ornare gravida, lorem mauris egestas nibh, a posuere metus augue vel augue. Aenean volutpat tempus augue.

Duis porttitor turpis finibus est fermentum, ut sollicitudin ipsum maximus. Integer sit amet ultrices nisi. Donec facilisis, felis nec dictum volutpat, nulla lorem tempor dui, accumsan aliquet lectus diam in velit. Donec nunc justo, tempus eu arcu eu, pretium tristique est. Cras eget nulla sit amet risus lacinia vehicula at eget urna. Pellentesque nisi arcu, fringilla sed mauris sed, convallis vestibulum nibh. Vivamus at viverra lectus, sed efficitur metus. Duis varius ultricies ultricies. Cras ornare justo eros, ac cursus nibh auctor vitae. Praesent molestie aliquam elementum.

Vivamus bibendum, felis non aliquet mattis, augue eros viverra turpis, sit amet vestibulum leo odio nec augue. Vestibulum accumsan justo vel sem scelerisque accumsan. Fusce eu fringilla quam. Cras eget nibh a sem finibus auctor quis iaculis erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc bibendum sem diam, egestas elementum magna molestie nec. Nulla facilisi. In hac habitasse platea dictumst. Nulla molestie, sem accumsan consequat pharetra, augue ante dictum arcu, in sollicitudin lectus risus sed nisi.</p>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>
