<footer class='footer'>
  <div class='container'>
    <span class='text-muted'>
      © <%= new Date().getFullYear() %> <a href="https://example.com/">Example.com</a>
      <span>|</span>
      <a href="https://example.com/about">About</a>
      <span>|</span>
      <a href="mailto:me@example.com">Contact</a>
    </span>
  </div>
</footer>
